<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clevertree.dao.IPMemberDao">
	<resultMap type="PMember" id="mypm">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="phone" property="phone"/>
		<result column="sex" property="sex"/>
		<result column="birthday" property="birthday"/>
		<result column="guardian" property="guardian"/>
		<result column="source" property="source"/>
		<result column="remarks" property="remarks"/>
		<association property="staff" javaType="Staff">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
		</association>
	</resultMap>
	<select id="queryPMem" resultMap="mypm" parameterType="int">
	    select p.*,s.id,s.name from pmember p,staff s where p.principal = s.id and p.id=#{id}
	</select>

	<insert id="savePMem" parameterType="PMember" >
        <selectKey keyProperty="id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>    
        insert into pmember(name,address,phone,sex,birthday,guardian,source,principal,remarks) 
						values(#{name},#{address},#{phone},#{sex},#{birthday,jdbcType=DATE,javaType=date},
						#{guardian},#{source},#{staff.id},#{remarks})    
	</insert>
	<delete id="deletePMem" parameterType="int">
		delete * from pmember where id=#{id}	
	</delete>
	

</mapper>