<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clevertree.dao.IStaffDao">
	<resultMap type="Staff" id="mysta">
		<id column="id" property="id"/>
		<result column="id_num" property="snum"/>
		<result column="staff_id" property="sid"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="address" property="address"/>
		<result column="position" property="position"/>
		<result column="phone_num" property="phone"/>
		<result column="birthday" property="birthday"/>
		<result column="entry_date" property="entrydate"/>
		<association property="shop" javaType="Shop">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="position" property="position"/>
		</association>
	</resultMap>
	<select id="queryStaff" resultMap="mysta" parameterType="int">
	     select st.*,sh.id,sh.name,sh.position from staff st,shop sh where st.shop = sh.id and st.id=#{id}
	</select>

	<insert id="saveStaff" parameterType="Staff" >
        <selectKey keyProperty="id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>    
        insert into staff(id_num,staff_id,name,password,address,position,phone_num,birthday,entry_date,shop) 
						values(#{snum},#{sid},#{name},#{password},#{address},#{position},#{phone},
						#{birthday,jdbcType=DATE,javaType=date},#{entrydate,jdbcType=DATE,javaType=date},#{shop.id})    
	</insert>
	<delete id="deleteStaff" parameterType="int">
		delete * from staff where id=#{id}	
	</delete>
	<update id="updateStaff" parameterType="Staff">
		 update staff set id_num=#{snum},staff_id=#{sid},name=#{name},password=#{password},address=#{address},
		 			position=#{position},phone_num=#{phone},birthday=#{birthday,jdbcType=DATE,javaType=date},
		 			entry_date=#{entry_date,jdbcType=DATE,javaType=date},shop=#{shop.id}	
	</update>

</mapper>