<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clevertree.dao.IRoleDao">
	<!-- <select id="queryUser" resultType="Role" parameterType="int">
	    select id,name,birth from role where id=#{id}
	</select>
	<select id="queryUser2" resultType="Role" parameterType="map">
	    select id,name,birth from role where id=#{id} and name=#{name}
	</select>
	<insert id="save" parameterType="Role">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into role(name,birth) values(#{name},#{birth,jdbcType=DATE,javaType=date})
	</insert>
	<insert id="insertRole" parameterType="Role"     
        useGeneratedKeys="true" keyProperty="id">    
        insert into role(name,desc,module) values(#{name},#{desc},#{module})    
	</insert> -->
</mapper>